@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, * {
  box-sizing: border-box;
  font-size: 16px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  text-align: center;
}

textarea {
  width: 600px;
  height: 300px;
}

body {
  padding: 2rem;
  background: #f8f8f8;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  line-height: 1;
  color: #454cad;
  margin-bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

.title {
  margin-bottom: 20px;
}

.start i {
  margin-top: 30px;
}

input {
  align-items: center;
  margin-top: 20px;
  margin-left: 185px;
}

form.hover .start i.fa {
  transform: scale(0.8);
  opacity: 0.3;
}

.body i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all 0.2s ease-in-out;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.uploader .hidden {
  display: none;
}

.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #454cad;
}
.uploader label.hover {
  border: 3px solid #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}

.uploader .btn {
  display: inline-block;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: 0.2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}

.hasFiles {
  height: auto;
  width: 100%;
}

.upload .upload-files footer.hasFiles .divider span {
  transform: translateY(0);
  transition: transform 0.5s 0.5s ease;
}

.list-files {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}
.list-files::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.25);
}
.list-files::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(211, 211, 211, 0.25);
}
.list-files::-webkit-scrollbar-thumb {
  background-color: rgba(77, 182, 172, 0.5);
}
.list-files .file {
  width: 300px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  -webkit-animation: fade 0.35s ease both;
          animation: fade 0.35s ease both;
}
.list-files .file .name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
  text-align: left;
}
.list-files .file .progress {
  width: 175px;
  height: 5px;
  border: solid 1px lightgray;
  border-radius: 2px;
  background: linear-gradient(to left, rgba(77, 182, 172, 0.2), rgba(77, 182, 172, 0.8)) no-repeat;
  background-size: 100% 100%;
}
.list-files .file .progress.active {
  -webkit-animation: progress 30s linear;
          animation: progress 30s linear;
}

@-webkit-keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
@keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

.list-files .file .done {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #4db6ac;
  border-radius: 50%;
  margin-left: -10px;
  transform: scale(0);
  position: relative;
}
.list-files .file .done:before {
  content: "View";
  position: absolute;
  top: 0;
  left: -5px;
  font-size: 24px;
  opacity: 0;
}
.list-files .file .done:hover:before {
  transition: all 0.25s ease;
  top: -30px;
  opacity: 1;
}
.list-files .file .done.anim {
  -webkit-animation: done1 0.5s ease forwards;
          animation: done1 0.5s ease forwards;
}
.list-files .file .done.anim #path {
  -webkit-animation: done2 2.5s 0.5s ease forwards;
          animation: done2 2.5s 0.5s ease forwards;
}
.list-files .file .done #path {
  stroke-dashoffset: 7387.5942382813;
  stroke-dasharray: 7387.5942382813 7387.5942382813;
  stroke: #fff;
  fill: transparent;
  stroke-width: 50px;
}

@-webkit-keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes done1 {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  80% {
    transform: scale(0.25);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}
@keyframes done1 {
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  80% {
    transform: scale(0.25);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}

@-webkit-keyframes fadeup {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeup {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes faderight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .upload {
    width: 100%;
    height: 100%;
  }
}